@layer globals, components;

@layer globals {
  /* inter-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("./assets/Fonts/inter-v20-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* inter-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    src: url("./assets/Fonts/inter-v20-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* inter-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    src: url("./assets/Fonts/inter-v20-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* inter-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    src: url("./assets/Fonts/inter-v20-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* manrope-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Manrope";
    font-style: normal;
    font-weight: 500;
    src: url("./assets/Fonts/manrope-v20-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* manrope-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Manrope";
    font-style: normal;
    font-weight: 600;
    src: url("./assets/Fonts/manrope-v20-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* Fonts */
  :root {
    --fs-12: calc(12 / 16 * 1rem);
    --fs-14: calc(14 / 16 * 1rem);
    --fs-16: calc(16 / 16 * 1rem);
    --fs-18: calc(18 / 16 * 1rem);
    --fs-20: calc(20 / 16 * 1rem);
    --fs-32: calc(32 / 16 * 1rem);
    --fs-40: calc(40 / 16 * 1rem);
    --fs-48: calc(48 / 16 * 1rem);
    --fs-62: calc(62 / 16 * 1rem);

    --font-size-h1: var(--fs-40);
    --font-size-h2: var(--fs-32);
    --font-size-banner: var(--fs-12);
    --font-size-button: var(--fs-16);
    --font-size-hero-subtitle: var(--fs-16);
    --font-size-hero-description: var(--fs-18);
    --font-size-hero-info: var(--fs-14);
    --font-size-features-description: var(--fs-18);
    --font-size-features-item-description: var(--fs-14);
    --font-size-stats-number: var(--fs-40);
    --font-size-stats-category: var(--fs-16);
    --font-size-stats-description: var(--fs-16);
    --font-size-testimonial-quote: var(--fs-20);
    --font-size-testimonial-author-name: var(--fs-16);
    --font-size-testimonial-author-position: var(--fs-14);
    --font-size-cta-text: var(--fs-32);
    --font-size-footer: var(--fs-16);

    @media (width >= calc(768 / 16 * 1rem)) {
      --font-size-h1: var(--fs-62);
      --font-size-h2: var(--fs-40);
      --font-size-stats-number: var(--fs-48);
      --font-size-testimonial-quote: var(--fs-32);
      --font-size-cta-text: var(--fs-40);
    }
  }

  /* Colors */
  :root {
    --c-white: hsl(0, 0%, 100%);
    --c-neutral-white-1300: hsl(240, 4%, 95%);
    --c-netural-white-1000: hsl(220, 6%, 91%);
    --c-light-grey: hsl(218, 13%, 24%);
    --c-ebony: hsl(216, 12%, 8%);
    --c-soft-peach: hsl(180, 3%, 94%);
    --c-shuttle-grey: hsl(218, 13%, 41%);
    --c-purple-iris: hsl(288, 52%, 26%);
    --c-neutral-100: hsl(218, 14%, 16%);

    --color-banner-tag-bg: var(--c-neutral-white-1300);
    --color-banner-border: var(--c-netural-white-1000);
    --color-banner-tag-text: var(--c-light-grey);
    --color-banner-description: var(--c-ebony);
    --color-button-bg: var(--c-soft-peach);
    --color-button-text: var(--c-shuttle-grey);
    --color-hero-subtitle: var(--c-purple-iris);
    --color-hero-title: var(--c-ebony);
    --color-hero-description: var(--c-shuttle-grey);
    --color-hero-button: var(--c-purple-iris);
    --color-hero-button-text: var(--c-white);
    --color-hero-info: var(--c-shuttle-grey);
    --color-features-description: var(--c-shuttle-grey);
    --color-features-link-all: var(--c-purple-iris);
    --color-features-item-title: var(--c-ebony);
    --color-features-item-description: var(--c-shuttle-grey);
    --color-stats-number: var(--c-purple-iris);
    --color-stats-description: var(--c-shuttle-grey);
    --color-testimonial-quote: var(--c-neutral-100);
    --color-testimonial-author-position: var(--c-shuttle-grey);
    --color-cta-text: var(--c-ebony);
    --color-cta-button-first: var(--c-purple-iris);
    --color-footer-description: var(--c-shuttle-grey);
    --color-footer-link: var(--c-light-grey);
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
  }

  body {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    line-height: 1.33333;
    padding-block-end: 100ch;
  }

  h1,
  h2,
  h3 {
    line-height: 1.1;
  }

  h1 {
    font-size: var(--font-size-h1);
    font-weight: 600;
  }

  h2 {
    font-size: var(--font-size-h2);
    font-weight: 600;
  }

  h3 {
    font-family: "Manrope";
    font-weight: 600;
  }

  a {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
  }

  img,
  picture,
  svg {
    max-width: 100%;
    display: block;
    height: auto;
  }

  button {
    font: inherit;
    border: none;
    padding: 0;
    background: none;
  }

  li {
    text-decoration: none;
    list-style: none;
  }

  .wrapper {
    width: min(calc(100% - 32px), calc(1200 / 16 * 1rem));
    margin-inline: auto;

    @media (width >= calc(768 / 16 * 1rem)) {
      width: min(calc(100% - 144px), calc(1200 / 16 * 1rem));
    }
  }
}

@layer components {
  .button {
    background-color: var(--color-button-bg);
    color: var(--color-button-text);
    font-size: var(--font-size-button);
    font-weight: 500;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
  }

  .banner {
    font-size: var(--font-size-banner);
    border-bottom: 1px solid var(--color-banner-border);

    .banner__wrapper {
      display: flex;
      gap: 16px;
      justify-content: center;
      align-items: center;
      padding: 8px;
    }

    .banner__tag {
      padding: 4px 8px;
      color: var(--color-banner-tag-text);
      font-weight: 500;
      font-size: var(--font-size-banner);
      background-color: var(--color-banner-tag-bg);
      border-radius: 240px;
      border: 1px solid var(--color-banner-border);
      max-height: 24px;
    }

    .banner__description {
      color: var(--color-banner-description);
    }
  }

  .topnav {
    .topnav__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-block: 20px;
    }

    .topnav__homelink {
      padding: 8px;
    }

    .topnav__right {
      display: flex;
      gap: 16px;
    }

    .topnav__login-button {
      display: inline-flex;
      gap: 8px;
    }

    button {
      padding: 8px;

      > img {
        width: 24px;
        height: 24px;
      }
    }
  }

  .hero {
    text-align: center;

    .hero__wrapper {
      display: grid;
      justify-items: center;
      gap: 16px;
      padding-block-start: 40px;
    }

    .hero__title {
      max-width: 20ch;
    }

    .hero__subtitle {
      order: -1;
      font-size: var(--font-size-hero-subtitle);
      font-weight: 500;
      color: var(--c-purple-iris);
    }

    .hero__description {
      color: var(--color-hero-description);
      font-weight: 400;
      font-size: var(--font-size-hero-description);
      margin-block-end: 16px;

      @media (width >= calc(768 / 16 * 1rem)) {
        max-width: 50ch;
      }

      @media (width >= calc(1024 / 16 * 1rem)) {
        max-width: 54ch;
      }
    }

    .hero__button {
      display: flex;
      justify-content: center;
      gap: 8px;
      background-color: var(--color-hero-button);
      color: var(--color-hero-button-text);
      padding-block: 16px;

      @media (width <= calc(425 / 16 * 1rem)) {
        width: 100%;
      }
    }

    .hero__info {
      font-size: var(--font-size-hero-info);
      font-weight: 500;
      color: var(--color-hero-info);
    }
  }

  .client {
    padding-block: 64px;

    .client__wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      justify-items: center;
      row-gap: 32px;

      @media (width >= calc(768 / 16 * 1rem)) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        /* :first-child {
          width: 98px;
        } */
      }
    }

    .client__logo {
      padding: 8px;

      @media (width >= calc(768 / 16 * 1rem)) {
        height: 24px;
      }
    }
  }

  .features-1,
  .features-2 {
    text-align: center;

    .features-1__wrapper,
    .features-2__wrapper {
      display: grid;
      justify-items: center;
      padding: 64px 16px;
    }

    .features-1__title,
    .features-2__title {
      margin-block-end: 16px;
      max-width: 27ch;
    }

    .features-1__description,
    .features-2__description {
      font-weight: 400;
      font-size: var(--font-size-features-description);
      color: var(--color-features-description);
      margin-block-end: 32px;
      max-width: 48ch;
    }

    .features-1__link-all,
    .features-2__link-all {
      display: flex;
      gap: 8px;
      color: var(--color-features-link-all);
      font-weight: 500;
      margin-block-end: 48px;
    }

    .features-1__link-all-path,
    .features-2__link-all-path {
      stroke: var(--color-features-link-all);
    }
  }

  .features-1 {
    .features-1__items {
      display: grid;
      gap: 32px;

      @media (width >= calc(1024 / 16 * 1rem)) {
        display: flex;
      }
    }

    .features-1__item {
      display: grid;
      justify-items: center;
      padding: 16px;
      gap: 16px;
    }

    .features-1__item-title {
      font-weight: 500;
      color: var(--color-features-item-title);
    }

    .features-1__item-description {
      color: var(--color-features-item-description);
      font-size: var(--font-size-features-item-description);
      max-width: 35ch;
    }
  }

  .features-2 {
    margin-block-end: 64px;

    .features-2__items {
      display: flex;
      flex-direction: column;
      gap: 32px;

      @media (width >= calc(1024 / 16 * 1rem)) {
        flex-direction: row;
      }
    }

    .features-2__item-image {
      width: clamp(
        21.4375rem,
        14.363636363636363rem + 35.36931818181818vw,
        37rem
      );
      height: auto;
    }
  }

  .stats {
    text-align: center;

    .stats__wrapper {
      padding: 64px 16px;
      margin-block-end: 64px;

      @media (width >= calc(768 / 16 * 1rem)) {
        margin-block-end: 96px;
      }
    }

    .stats__items {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 32px;

      @media (width >= calc(1024 / 16 * 1rem)) {
        flex-direction: row;
        justify-content: center;
      }
    }

    .stats__item {
      padding: 16px;
    }

    .stats__numbers {
      font-size: var(--font-size-stats-number);
      color: var(--color-stats-number);
      margin-block-end: 16px;
    }

    .stats__category {
      margin-block-end: 8px;
      font-weight: 500;
      font-size: var(--font-size-stats-category);
    }

    .stats__description {
      font-weight: 400;
      font-size: var(--font-size-stats-description);
      color: var(--color-stats-description);
      width: 21ch;
      line-height: 1.5;

      @media (width >= calc(768 / 16 * 1rem)) {
        width: 25ch;
      }
    }
  }

  .testimonial {
    text-align: center;
    font-weight: 500;

    .testimonial__wrapper {
      display: grid;
      justify-items: center;
      padding-block: 64px;
      margin-block-end: 64px;

      @media (width >= calc(768 / 16 * 1rem)) {
        margin-block-end: 96px;
      }
    }

    .testimonial__company-logo {
      width: 97.5px;
      height: 24px;
      margin-block-end: 32px;
    }

    .testimonial__quote {
      font-family: "Manrope";
      font-size: var(--font-size-testimonial-quote);
      width: 27ch;
      margin-block-end: 48px;

      @media (width >= calc(768 / 16 * 1rem)) {
        width: 32ch;
      }

      @media (width >= calc(1024 / 16 * 1rem)) {
        width: 42ch;
      }
    }

    .testimonial__author-image {
      width: 64px;
      height: 64px;
      margin-block-end: 16px;
    }

    .testimonial__author-name {
      margin-block-end: 4px;
      font-size: var(--font-size-testimonial-author-name);
      color: var(--color-testimonial-quote);
    }

    .testimonial__author-position {
      font-size: var(--font-size-testimonial-author-position);
      color: var(--color-testimonial-author-position);
      margin-block-end: 16px;
    }

    .testimonial__author-rating {
      display: flex;
      gap: 12px;
    }
  }

  .cta {
    text-align: center;

    .cta__wrapper {
      display: grid;
      justify-items: center;
      gap: 32px;
      margin-block-end: 64px;
    }

    .cta__text {
      font-size: var(--font-size-cta-text);
      color: var(--color-cta-text);
      max-width: 25ch;
    }

    .cta__buttons {
      display: flex;
      gap: 8px;
      width: 100%;

      @media (width < calc(600 / 16 * 1rem)) {
        flex-direction: column;
      }

      @media (width >= calc(600 / 16 * 1rem)) {
        justify-content: center;
      }
    }

    .cta__button {
      display: flex;
      gap: 8px;
      height: 44px;
      justify-content: center;
      align-items: center;

      @media (width >= calc(768 / 16 * 1rem)) {
        width: calc(200 / 16 * 1rem);
      }
    }

    .cta__button:first-child {
      color: var(--c-white);
      background-color: var(--color-cta-button-first);
    }
  }

  .footer {
    .footer__wrapper {
      padding-block-start: 48px;
      padding-block-end: 40px;

      @media (width >= calc(600 / 16 * 1rem)) {
        padding-inline: 16px;
        padding-block-start: 96px;
      }

      @media (width >= calc(1000 / 16 * 1rem)) {
        padding-inline: 64px;
      }
    }

    .footer__header {
      @media (width >= calc(600 / 16 * 1rem)) {
        display: grid;
        justify-items: center;
        align-items: center;
        text-align: center;
      }

      @media (width >= calc(1000 / 16 * 1rem)) {
      }
    }

    .footer__logo {
      margin-block-end: 16px;
    }

    .footer__description {
      font-size: var(--font-size-footer);
      font-weight: 500;
      color: var(--c-shuttle-grey);
      line-height: 1.7;
      margin-block-end: 64px;

      @media (width >= calc(1000 / 16 * 1rem)) {
        width: 50ch;
      }
    }

    .footer__items {
      display: grid;
      gap: 48px;

      @media (width >= calc(600 / 16 * 1rem)) {
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr 1fr 1fr;
      }

      @media (width >= calc(1000 / 16 * 1rem)) {
        grid-template-columns: 1.75fr 2fr 1.75fr 1.75fr 1.75fr;
        grid-template-rows: 1fr;
      }
    }

    .footer__column {
      padding-block-start: 64px;
    }

    .footer__link-title {
      display: block;
      font-weight: 700;
      margin-block-end: 24px;
    }

    .footer__links {
      > ul {
        display: grid;
        gap: 16px;
      }
    }

    .footer__item {
    }

    .footer__link {
      color: var(--color-footer-link);
      font-weight: 500;
    }
  }
}
