@layer globals, components;

@layer globals {
  /* inter-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("./assets/Fonts/inter-v20-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* inter-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    src: url("./assets/Fonts/inter-v20-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* inter-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    src: url("./assets/Fonts/inter-v20-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* Fonts */
  :root {
    --fs-12: calc(12 / 16 * 1rem);

    --font-size-banner: var(--fs-12);
  }

  /* Colors */
  :root {
    --c-white: hsl(0, 0, 100%);
    --c-neutral-white-1300: hsl(240, 4%, 95%);
    --c-netural-white-1000: hsl(220, 6%, 91%);
    --c-light-grey: hsl(218, 13%, 24%);
    --c-ebony: hsl(216, 12%, 8%);

    --color-banner-tag-bg: var(--c-neutral-white-1300);
    --color-banner-border: var(--c-netural-white-1000);
    --color-banner-tag-text: var(--c-light-grey);
    --color-banner-description: var(var(--c-ebony));
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
  }

  body {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    line-height: 1.33333;
  }

  a {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
  }

  .wrapper {
    width: min(calc(100% - 16px), calc(1200 / 16 * 1rem));
    margin-inline: auto;

    @media (width >= calc(768 / 16 * 1rem)) {
      width: min(calc(100% - 144px), calc(1200 / 16 * 1rem));
    }
  }
}

@layer components {
  .banner {
    font-size: var(--font-size-banner);
    border-bottom: 1px solid var(--color-banner-border);

    .banner__wrapper {
      display: flex;
      gap: 16px;
      justify-content: center;
      align-items: center;
      padding: 8px;
    }

    .banner__tag {
      padding: 4px 8px;
      color: var(--color-banner-tag-text);
      font-weight: 500;
      font-size: var(--font-size-banner);
      background-color: var(--color-banner-tag-bg);
      border-radius: 240px;
      border: 1px solid var(--color-banner-border);
      max-height: 24px;
    }

    .banner__description {
      color: var(--color-banner-description);
    }
  }
}
