@layer globals, components;

@layer globals {
  /* inter-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("./assets/Fonts/inter-v20-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* inter-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    src: url("./assets/Fonts/inter-v20-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* inter-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    src: url("./assets/Fonts/inter-v20-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* inter-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    src: url("./assets/Fonts/inter-v20-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* Fonts */
  :root {
    --fs-12: calc(12 / 16 * 1rem);
    --fs-14: calc(14 / 16 * 1rem);
    --fs-16: calc(16 / 16 * 1rem);
    --fs-18: calc(18 / 16 * 1rem);
    --fs-40: calc(40 / 16 * 1rem);
    --fs-62: calc(62 / 16 * 1rem);

    --font-size-h1: var(--fs-40);
    --font-size-banner: var(--fs-12);
    --font-size-button: var(--fs-16);
    --font-size-hero-subtitle: var(--fs-16);
    --font-size-hero-description: var(--fs-18);
    --font-size-hero-info: var(--fs-14);

    @media (width >= calc(768 / 16 * 1rem)) {
      --font-size-h1: var(--fs-62);
    }
  }

  /* Colors */
  :root {
    --c-white: hsl(0, 0%, 100%);
    --c-neutral-white-1300: hsl(240, 4%, 95%);
    --c-netural-white-1000: hsl(220, 6%, 91%);
    --c-light-grey: hsl(218, 13%, 24%);
    --c-ebony: hsl(216, 12%, 8%);
    --c-soft-peach: hsl(180, 3%, 94%);
    --c-shuttle-grey: hsl(218, 13%, 41%);
    --c-purple-iris: hsl(288, 52%, 26%);

    --color-banner-tag-bg: var(--c-neutral-white-1300);
    --color-banner-border: var(--c-netural-white-1000);
    --color-banner-tag-text: var(--c-light-grey);
    --color-banner-description: var(--c-ebony);
    --color-button-bg: var(--c-soft-peach);
    --color-button-text: var(--c-shuttle-grey);
    --color-hero-subtitle: var(--c-purple-iris);
    --color-hero-title: var(--c-ebony);
    --color-hero-description: var(--c-shuttle-grey);
    --color-hero-button: var(--c-purple-iris);
    --color-hero-button-text: var(--c-white);
    --color-hero-info: var(--c-shuttle-grey);
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
  }

  body {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    line-height: 1.33333;
  }

  h1,
  h2,
  h3 {
    line-height: 1.1;
  }

  h1 {
    font-size: var(--font-size-h1);
    font-weight: 600;
  }

  a {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
  }

  img,
  picture,
  svg {
    max-width: 100%;
    display: block;
    height: auto;
  }

  button {
    font: inherit;
    border: none;
    padding: 0;
    background: none;
  }

  .wrapper {
    width: min(calc(100% - 32px), calc(1200 / 16 * 1rem));
    margin-inline: auto;

    @media (width >= calc(768 / 16 * 1rem)) {
      width: min(calc(100% - 144px), calc(1200 / 16 * 1rem));
    }
  }
}

@layer components {
  .button {
    background-color: var(--color-button-bg);
    color: var(--color-button-text);
    font-size: var(--font-size-button);
    font-weight: 500;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
  }

  .banner {
    font-size: var(--font-size-banner);
    border-bottom: 1px solid var(--color-banner-border);

    .banner__wrapper {
      display: flex;
      gap: 16px;
      justify-content: center;
      align-items: center;
      padding: 8px;
    }

    .banner__tag {
      padding: 4px 8px;
      color: var(--color-banner-tag-text);
      font-weight: 500;
      font-size: var(--font-size-banner);
      background-color: var(--color-banner-tag-bg);
      border-radius: 240px;
      border: 1px solid var(--color-banner-border);
      max-height: 24px;
    }

    .banner__description {
      color: var(--color-banner-description);
    }
  }

  .topnav {
    .topnav__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-block: 20px;
    }

    .topnav__homelink {
      padding: 8px;
    }

    .topnav__logo {
    }

    .topnav__right {
      display: flex;
      gap: 16px;
    }

    .topnav__login-button {
      display: inline-flex;
      gap: 8px;
    }

    .topnav__login-logo {
    }

    button {
      padding: 8px;

      > img {
        width: 24px;
        height: 24px;
      }
    }
  }

  .hero {
    text-align: center;

    .hero__wrapper {
      display: grid;
      justify-items: center;
      gap: 16px;
      padding-block-start: 40px;
    }

    .hero__title {
      max-width: 20ch;
    }

    .hero__subtitle {
      order: -1;
      font-size: var(--font-size-hero-subtitle);
      font-weight: 500;
      color: var(--c-purple-iris);
    }

    .hero__description {
      color: var(--color-hero-description);
      font-weight: 400;
      font-size: var(--font-size-hero-description);
      margin-block-end: 16px;

      @media (width >= calc(768 / 16 * 1rem)) {
        max-width: 50ch;
      }

      @media (width >= calc(1024 / 16 * 1rem)) {
        max-width: 54ch;
      }
    }

    .hero__button {
      display: flex;
      justify-content: center;
      gap: 8px;
      background-color: var(--color-hero-button);
      color: var(--color-hero-button-text);
      padding-block: 16px;

      @media (width <= calc(425 / 16 * 1rem)) {
        width: 100%;
      }
    }

    .hero__info {
      font-size: var(--font-size-hero-info);
      font-weight: 500;
      color: var(--color-hero-info);
    }
  }
}
